page-home {
    /* html, body, ion-app, ion-content, ion-page,ion-navbar, .nav-decor {
        background-color: transparent !important;
      } */
    /* .ion-canvas{
        opacity: 0;
    } */
    .camera-init{
        position: absolute;
        left:50%;
        top:50%

    }
    .photo{
        background: black;
        min-width: 90;
        max-width: 100%;
        max-height: 70%;
        min-height: 70%
    }
   
} 
