page-home {
    /* html, body, ion-app, ion-content, ion-page,ion-navbar, .nav-decor {
        background-color: transparent !important;
      } */
    
    .camera-init{
        position: absolute;
        left:50%;
        top:50%

    }
    
   
} 
